*{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: rgb(229, 230, 231);

}
section{

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
section .Detail{
   background-color: rgb(66, 25, 180);
   height: 200px;
   display: flex;
   align-items: center;
justify-content: center;


}
section .Detail .Title{
font-weight: bolder;
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(238, 187, 20);

}
section .Services{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(220, 235, 236);
}

section .Services img{

width: 400px;
height:400px;
margin-top: 20px;
border-radius: 20px;

}
section .Services p{
font-size: 25px;
font-weight: bold;

}
section .Services .cart{

    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0 20px 20px 20px;
    border-radius: 10px;
}
section .Services .cart:hover{
   transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);


}